.home-box {
  position: relative;
}

.home-top {
  width: 100%;
  height: 7.64rem;
  background-image: url("./../../assets/images/home_bg.png");
  background-size: 100% 7.64rem;
  position: relative;
  padding-top: 2.14rem;
}

.title {
  display: block;
  width: 8.1rem;
  height: 1.96rem;
  font-size: 0.34rem;
  font-weight: bold;
  color: #ffffff;
  padding-left: 2.6rem;
}

.annotation {
  display: block;
  width: 7.85rem;
  height: 0.4rem;
  font-size: 0.28rem;
  font-weight: 400;
  color: #ffe2da;
  margin-left: 2.6rem;
}

.feature-box {
  width: 100%;
  height: 7.75rem;
  text-align: center;
}

.feature-title {
  display: inline-block;
  font-size: 0.34rem;
  font-weight: bold;
  color: #000000;
  text-align: center;
  padding-top: 0.47rem;
  margin: 0 auto;
}

.feature-title::after {
  content: "";
  display: block;
  width: 0.5rem;
  height: 0.04rem;
  background: #d52d11;
  margin: 0.1rem auto 0;
}

.feature-list {
  width: 12.42rem;
  padding-top: 0.67rem;
  margin: 0 auto;
}

.list-box {
  width: 3.51rem;
  height: 2.29rem;
  position: relative;
  margin-right: 0.63rem;
  display: inline-block;
  margin-bottom: 0.44rem;
  vertical-align: top;
}

.list-box:nth-of-type(3n) {
  margin-right: 0;
}

.list-bg {
  width: 3.56rem;
  height: 2.29rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.list-title {
  padding-top: 0.24rem;
  font-size: 0.24rem;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.info-box {
  padding: 0 0.3rem;
  height: 1.7rem;
  display: flex;
  align-items: center;
  margin-top: 0.05rem;
}

.list-info {
  font-size: 0.2rem;
  font-weight: bold;
  color: #ffffff;
  line-height: 0.28rem;
}

.about-us {
  width: 100%;
  height: 9.11rem;
  background: #f0f2f5;
  text-align: center;
}

.brand-list {
  padding-top: 0.69rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.operating-icon {
  width: 0.35rem;
  height: 0.35rem;
  cursor: pointer;
}

.brand-box {
  width: 11.5rem;
  height: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.08rem 0 0.2rem;
  position: relative;
  left: 0;
  overflow: hidden;
}

.brand-show {
  position: absolute;
  width: 46.2rem;
  height: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: left .5s ease;
  overflow: hidden;
}

.brand-icon {
  display: inline-block;
  vertical-align: top;
  width: 1.81rem;
  height: 0.9rem;
  margin-right: 0.12rem;
}

.about-info {
  margin-top: 0.7rem;
}

.info-title {
  display: inline-block;
  font-size: 0.36rem;
  font-weight: 500;
  color: #333333;
  position: relative;
}

.info-title:after {
  content: ' ';
  display: block;
  position: absolute;
  bottom: -.1rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0.5rem;
  height: 0.04rem;
  background: #D52D11;
}

.about-info-box {
  width: 12.49rem;
  height: 5.78rem;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

.info-bg {
  width: 12.49rem;
  height: 5.78rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.info-box-title {
  display: block;
  font-size: 0.28rem;
  font-weight: 500;
  color: #D52D11;
  margin: 1.33rem 0 0 1.44rem;
  position: relative;
  text-align: left;
}

.info-box-info {
  width: 7.12rem;
  font-size: 0.18rem;
  font-weight: 400;
  color: #333333;
  line-height: 0.35rem;
  margin: 0.24rem 0 0 1.44rem;
  position: relative;
  text-align: left;
}