.header {
    width: 100%;
    height: 0.95rem;
    background: #FFFFFF;
    box-shadow: 0rem 0.02rem 0.04rem 0.04rem rgba(218, 218, 218, 0.5);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 9;
}

.logo {
    width: .87rem;
    height: .92rem;
    margin-left: 3.54rem;
}

.menu {
    height: 100%;
    margin-right: 3.6rem;
    display: flex;
    align-items: center;
    position: relative;
}

.tabs {
    font-size: 0.24rem;
    font-weight: bold;
    color: #181212;
    cursor: pointer;
    position: relative;
}

.active {
    background: linear-gradient(113deg, rgba(255, 100, 103, 1) 0%, rgba(245, 124, 124, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.active::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -.17rem;
    width: 100%;
    height: 0.04rem;
    background: linear-gradient(130deg, #FF6467 0%, #F57C7C 100%);
}

.terms {
    margin: 0 1rem 0 1.14rem;
}

.group-box:hover .itemGroup {
    height: 1.59rem;
    visibility: visible;
}

.group-box:hover .group {
    opacity: 1;
}

.group-box {
    position: relative;
}

.itemGroup {
    width: 1.33rem;
    height: 0;
    visibility: hidden;
    background: #FFFFFF;
    border-top: 0.06rem solid rgba(218, 218, 218, 0.5);
    box-shadow: 0.02rem 0.02rem 0.04rem 0rem rgba(167, 103, 103, 0.5);
    top: .66rem;
    left: -.05rem;
    position: absolute;
    z-index: -1;
    transition: all .3s ease;
    webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
}

.group {
    display: block;
    font-size: 0.24rem;
    font-weight: 500;
    color: #333333;
    text-align: center;
    margin: 0.25rem 0;
    cursor: pointer;
    opacity: 0;
    transition: all .3s ease;
    webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
}

.group:hover {
    border-bottom: 0.01rem solid #F77677;
}

.act {
    color: #F77677;
    font-weight: bold;
}